<center>
    <form method="POST">
        <div>
            <label>Input air pollutants for 1st days: </label>
            <input name="ws_1">
            <input name="wd_1">
            <input name="temp_1">
            <input name="rh_1">
            <input name="nox_1">
            <input name="no_1">
            <input name="so2_1">
            <input name="no2_1">
            <input name="o3_1">
            <input name="co_1">
            <input name="pm10_1">
        </div>
        <div>
            <label>Input air pollutants for 2nd days: </label>
            <input name="ws_2">
            <input name="wd_2">
            <input name="temp_2">
            <input name="rh_2">
            <input name="nox_2">
            <input name="no_2">
            <input name="so2_2">
            <input name="no2_2">
            <input name="o3_2">
            <input name="co_2">
            <input name="pm10_2">
        </div>
        <div>
            <label>Input air pollutants for 3rd days: </label>
            <input name="ws_3">
            <input name="wd_3">
            <input name="temp_3">
            <input name="rh_3">
            <input name="nox_3">
            <input name="no_3">
            <input name="so2_3">
            <input name="no2_3">
            <input name="o3_3">
            <input name="co_3">
            <input name="pm10_3">
        </div>

        <input type="submit">
    </form>

</center>